/* Overall HTML Document Formatting */

body {
    background-color: white;
    font: 16px 'Roboto', sans-serif, serif;
}

header,
main,
footer {
    width: 100%;
    text-align: center;
}

a {
    color: white;
}


/* Header */

header {
    font-family: 'Roboto Mono', monospace;
}

.header_img {
    display: inline;
    width: 100%;
}

.header_title {
    display: inline;
}

.logo {
    height: 100px;
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border-width: 2px;
    border-style: solid;
    color: #202020;
}


/*Main Content */

.hero_img,
.highlight_container {
    width: 100%;
    margin-bottom: 25px;
}

.highlight_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured_row {
    width: 100%;
    display: inline;
}

.featured_item,
.highlight_item {
    width: 100%;
    padding-bottom: 1em;
}

.featured_item a,
.highlight_item a {
    text-decoration: none;
    color: inherit;
}

.featured_item_img,
.highlight_item_img {
    width: 100%;
    max-width: 400px;
    height: 200px;
}

.featured_item_title,
.highlight_item_title {
    margin-top: 0;
    margin-bottom: 10px;
}

.featured_item_desc,
.highlight_item_desc {
    padding-top: 0;
    margin: 0px;
    margin-bottom: 35px;
    font-family: 'Lato', sans-serif;
}

.featured_item:hover,
.highlight_item:hover {
    cursor: pointer;
    box-shadow: gray 2px 2px 2px;
}


/* Footer */

footer {
    background-color: #202020;
    min-width: 20px;
    margin-bottom: 0;
    color: white;
    padding: 5px;
}


/* Media Queries */

@media screen and (min-width:600px) {
    .featured_row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2px;
    }
    .featured_item {
        width: 32.6%;
        border: 2px solid white;
    }
}

@media screen and (min-width:767px) {
    .hero_img {
        height: 400px;
    }
}

@media screen and (min-width:850px) {
    header,
    main,
    footer {
        width: 90%;
        margin: auto;
    }
    hr {
        max-width: 90%;
    }
}

@media screen and (min-width:1050px) {
    header,
    main {
        max-width: 1050px;
    }
    hr,
    footer {
        max-width: 90%;
    }
}