/* Color Vars */
$color_primary: #CE1212;
$color_secondary: #161616; /*#202020*/
$color_tertiary:#EEEBDD;
$hover_red: #810000;

/*fonts*/
$heading-font:'Lato', sans-serif;
$text-font: 'Open Sans', sans-serif;
$thin-weight: 100;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;