/* Color Vars */
$color_primary: #222; /*#161616*/
$color_secondary: #eeebdd;
$color_tertiary: #ce12;
$color_accent: #ca2017;

/*fonts*/
$heading-font: "Lato", sans-serif;
$text-font: "Open Sans", sans-serif;
$thin-weight: 100;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;
