/* Color Vars */
$color_accent: #ca2017;
$color_primary: #222;
$color_secondary: #eeebdd;
$color_tertiary: #ce12;

/*fonts*/
$bold-weight: 700;
$heading-font: "Lato", sans-serif;
$light-weight: 300;
$regular-weight: 400;
$text-font: "Open Sans", sans-serif;
$thin-weight: 100;

/*Breakpoints*/
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
