.hero {
  align-items: center;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(3, 3, 3, 0.5)),
    url("/img/hero_img_lg.jpg");
  background-size: cover;
  background-position: 100%;
  color: #fff;
  display: flex;
  height: 200px;
}
.hero__heading {
  font-weight: $regular-weight;
}
.tagline {
  font-weight: $light-weight;
}
.hero__social-icon {
  font-size: 2rem;
  margin: 5px;
  &:hover {
    color: $color-accent;
  }
}
/*1440px*/
@media screen and (min-width: 1024px) {
  .hero {
    max-width: 1024px; /*1440px*/ /*1024px*/
    margin-left: auto;
    margin-right: auto;
  }
}
