.card-body {
  flex-direction: column;
}
.project-card__btn {
  margin-top: auto;
  border-color: $color-accent;
  color: $color_accent;
  font-size: 1.4rem;
  &:hover {
    background-color: $color_accent;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    max-width: 1024px;
  }
}
